@page "/admin/login"
@namespace Taye.Pages.Admin
@layout AdminLayout


<div>
    <Row>
        <Col>
        <Card Title="Default size card" Class="card">
            <Extra>
                <a>More</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        </Col>
    </Row>
</div>



@code {

}
