<div class="footer">
    <h4 class="text-white">楚辞·九歌·东皇太一</h4>
    <p class="text-muted">吉日兮辰良，穆将愉兮上皇。抚长剑兮玉珥，璆锵鸣兮琳琅。</p>
    <p class="text-muted">瑶席兮玉瑱，盍将把兮琼芳。蕙肴蒸兮兰藉，奠桂酒兮椒浆。</p>
    <p class="text-muted">扬枹兮拊鼓，疏缓节兮安歌，陈竽瑟兮浩倡。</p>
    <p class="text-muted">灵偃蹇兮姣服，芳菲菲兮满堂。五音纷兮繁会，君欣欣兮乐康。</p>
    <p class="text-muted">        Taye ©2022 Created by Lee</p>
</div>

@code {

}
